* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, rgb(21, 214, 172), rgb(74, 27, 184), rgb(21, 214, 172));
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F5F5F5;
    background: rgb(5, 5, 5, 0.9);
    box-shadow: 5px, 5px, 15px rgb(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

span {
    font-weight: bolder;
    font-size: 60px;
}

.tempo {
    font-size: 10px;
}